#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: -999em;
	overflow: hidden;
	width: 44px;
	height: 44px;
	z-index: 999;
	text-align: center;
	border-radius: 50%;

	&:focus {
		outline: 0;
	}
	@include media-breakpoint-up(sm) {
		right: 20px;
	}
	@include media-breakpoint-up(md) {
		bottom: 80px;
	}

	svg{
		display: inline-block;
		margin-top: 15px;
		width: 14px;
		height: 14px;
	}
}