/**
 * Cart widget
 */
.elementor-widget-wp-widget-woocommerce_widget_cart,
.elementor-widget-wp-widget-woocommerce_shopping_cart,
.widget_shopping_cart {
	ul {
		margin: 0;
		
		li {
			position: relative;
			display: block;
			min-height: 90px;
			margin-bottom: 20px;
			padding-left: 110px;

			a:not(.remove) {
				padding-right: 10px;

				img{
					position: absolute;
					z-index: 5;
					left: 0;
					top: 0;
					max-width: 90px;
				}
			}
			
			.quantity {
				display: block;
			}
			
			/* Remove item overlay */
			.blockOverlay {
				margin: 0 0 10px 0 !important;
				background-color: rgba(255, 255, 255, 0.5) !important;
				opacity: 0.6 !important;
			}

			a.remove {
				position: absolute;
				right: 3px;
				top: -4px;
				left: auto;
				font-size: 24px;
				line-height: 1;
				color: $wc-red-color;
			}
		}
	}
	
	.button {
		width: 100%;
	}
	
	.wcppec-cart-widget-button {
		margin-top: 10px;
		width: 100%;
		
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	
	.woocommerce-mini-cart__buttons {
		margin-bottom: 0;
		
		a {
			margin-bottom: 10px;
		}
	}
	
	.woocommerce-mini-cart__total {
		position: relative;
		padding-top: 23px;
		margin-top: 15px;
		margin-bottom: 23px;
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			border-top: 1px solid $wc-border-color;
		}
		
		> strong {
			text-transform: uppercase;
		}
		
		.amount {
			font-size: 20px;
		}
	}
	
	@extend %product-list-widget;
}

// Header cart
.header-cart {
	position: relative;
	display: inline-block;
	
	&__link-count{
		display: inline-block;
		vertical-align: top;
		width: 23px;
		height: 23px;
		margin-top: -2px;
		font-size: 12px;
		line-height: 23px;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		text-align: center;
		border-radius: 50%;
		transition: background-color 0.2s ease-out;
	}

	&__content {
		visibility: hidden;
		position: absolute;
		z-index: 999;
		top: 100%;
		right: 0;
		font-size: 14px;
		margin-top: 17px;
		opacity: 0;
		transition: .3s ease;
		
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
	
	.woocommerce.widget_shopping_cart {
		min-width: 300px;
		padding: 23px 30px 31px;
		border: none;
		background-color: $wc-widget-cart-header-bg-color;
		box-shadow: 0 7px 18px 0 $wc-widget-cart-header-box-shadow-color;
		
		li {
			+ li {
				margin-top: 5px;
			}
		}
	}
	
	.product_list_widget {
		max-height: 310px;
		min-height: 110px;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: left;
		
		/* Custom scroll bar styles */
		&::-webkit-scrollbar {
			width: 6px;
		}
		
		/* Track */
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.13);
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		
		/* Handle */
		&::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: rgba(161, 162, 164, 0.5);
		}
		&::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(161, 162, 164, 0.4);
		}
	}
	
	.woocommerce-mini-cart__total{
		text-align: left;
	}
	
	.widgettitle {
		font-size: 20px;
		line-height: 1.5;
		margin-top: 0;
	}
	
	&__link {
		
		&-icon {
			font-size: 17px;
			transition: background-color 0.2s ease-out;
			
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				margin-right: 7px;
				background-position: center;
				background-repeat: no-repeat;
				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.997 511.997" xml:space="preserve"><path d="M405.387,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84 S440.588,362.612,405.387,362.612z M405.387,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536 c14.083,0,25.536,11.453,25.536,25.536S419.47,451.988,405.387,451.988z"/><path d="M507.927,115.875c-3.626-4.641-9.187-7.348-15.079-7.348H118.22l-17.237-72.12c-2.062-8.618-9.768-14.702-18.629-14.702 H19.152C8.574,21.704,0,30.278,0,40.856s8.574,19.152,19.152,19.152h48.085l62.244,260.443 c2.062,8.625,9.768,14.702,18.629,14.702h298.135c8.804,0,16.477-6.001,18.59-14.543l46.604-188.329 C512.849,126.562,511.553,120.516,507.927,115.875z M431.261,296.85H163.227l-35.853-150.019h341.003L431.261,296.85z"/><path d="M173.646,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84 S208.847,362.612,173.646,362.612z M173.646,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536 s25.536,11.453,25.536,25.536S187.729,451.988,173.646,451.988z"/></svg>');
						mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.997 511.997" xml:space="preserve"><path d="M405.387,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84 S440.588,362.612,405.387,362.612z M405.387,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536 c14.083,0,25.536,11.453,25.536,25.536S419.47,451.988,405.387,451.988z"/><path d="M507.927,115.875c-3.626-4.641-9.187-7.348-15.079-7.348H118.22l-17.237-72.12c-2.062-8.618-9.768-14.702-18.629-14.702 H19.152C8.574,21.704,0,30.278,0,40.856s8.574,19.152,19.152,19.152h48.085l62.244,260.443 c2.062,8.625,9.768,14.702,18.629,14.702h298.135c8.804,0,16.477-6.001,18.59-14.543l46.604-188.329 C512.849,126.562,511.553,120.516,507.927,115.875z M431.261,296.85H163.227l-35.853-150.019h341.003L431.261,296.85z"/><path d="M173.646,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84 S208.847,362.612,173.646,362.612z M173.646,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536 s25.536,11.453,25.536,25.536S187.729,451.988,173.646,451.988z"/></svg>');
			}
		}
	}
	
}