/**
 * WooCommerce Widgets
 */

@import "price-filter";
@import "rating-filter";
@import "attributes-filter";
@import "active-filters";
@import "top-rated-products";
@import "recent-reviews";
@import "product-categories";
@import "products";
@import "recently-viewed-products";
@import "product-search";
@import "tag-cloud";
@import "cart";

%product-list-widget {
	list-style: none;
	margin: 0;
	
	li {
		overflow: hidden;
		
		a {
			display: block;
		}
		
		img {
			margin: 0 0 10px;
		}

		.product-title {
			display: block;
		}
		
		.amount {
			font-size: 14px;
			font-weight: 500;
			margin: 0 0 5px;
		}
		
		ins {
			margin-right: 5px;
			font-style: normal;
			color: $wc-sale-price-color;
			border:0;

			.amount {
				color: $wc-sale-price-color;
			}
		}

		del{
			
		}
		
		+ li {
			margin-top: $wc-product-list-widget-items-offset;
		}
	}
}

//calendar in woo sidebar
.woocommerce .widget.widget_calendar{
	td, th{
		font-size: 14px;
		line-height: 44px;
		padding: 0;
	}

	tfoot td{
		line-height: 24px;
	}

	th{
		padding-bottom: 40px;
	}
}

//shop sidebar style
.woocommerce aside.widget-area {
	.widget + .widget:not(.woocommerce) {
		border-top: none;
		padding-top: 0;
	}
}