/**
 * Single product reviews
 */
ol.commentlist {
	list-style: none;
	margin: 0;

	img {
		float: left;
		margin: 0 20px 10px 0;
		padding:3px;
		background: #ebe9eb;
    	border: 1px solid #e4e1e3;
    	border-radius: 50%;
	}

	li {
		margin-bottom: 45px;

		.comment-text{
			padding-top: 15px;
			padding-left: 100px;
		}

		.woocommerce-review__author{
			display: block;
		}

		.star-rating {
			display: inline-block;
			vertical-align: top;
			margin-top: 4px;
			margin-left: 3px;
			margin-bottom: 0;
		}

		.meta {
			margin-bottom: 5px;
			font-size: $wc-reviews-meta-fz;
			line-height: $wc-reviews-meta-lh;
		}
		
		.woocommerce-review__published-date{
			font-size: 12px;
		}
	}
}

.comment-respond{
	.comment-reply-title{
		display: block;
	}
}

/*     single product comment form       */
.comment-form {
	.comment-form-rating {
		margin-bottom: 10px;

		label {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
			font-weight: 900;
		}
	}

	label {
		display: block;
		font-size: $wc-label-fz;
		line-height: $wc-label-lh;
	}
}